<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <table>
        <thead>
          <tr>
            <th>Rental_name</th>
            <th>ID</th>
            <th>Checkin</th>
            <th>Checkout</th>
            <th>Previous reservation ID</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
